doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='src/dist/main.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap' rel='stylesheet')
    title Bookstore
  body
    header
      h1.shop-name Bookshop
      ul.shop-menu
        li Books
        li Audiobooks
        li Stationery & Gifts
        li Blog
      .shop-icon
        .shop-icon-user  
          img(src='/src/image/user.svg', alt='user')
        .shop-icon-search   
          img(src='/src/image/search.svg', alt='search')
        .shop-icon-bag  
          img(src='/src/image/shop-bag.svg', alt='shop-bag')
    main
        .banner-container
                .slider-container
                    .slider
                        .slide
                        img(src='/src/image/banner_1.jpg' alt='Sale 1')
                        .slide
                        img(src='/src/image/banner 2.jpg' alt='Sale 2')
                        .slide
                        img(src='/src/image/banner 3.jpg' alt='Sale 3')
                .slider-controls
                    .slider-dot.active
                    .slider-dot
                    .slider-dot
        .book-container
          .categories
            ul.category-list
          .books
            .book-list
            button.load-more Load more
    footer
    script(src='./index.js')





